
.about-container {
 padding: 80px 200px;    
}

.about-title {
  font-family: 'Bw Vivant';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 120px;

  /* text-align: center; */
  padding-bottom: 80px;
}

.planet {
    padding-left: 952px;
    width: 74px;
    height: 49px;
    padding-bottom: 20px;

}

.about-me {
    display: flex;
    gap: 40px;
}

.my-pic {
    flex: 6;
    object-fit: cover; 
}

.my-story {
    flex: 6;
    font-family: 'Euclid Circular A Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   line-height: 30px;
}

.dan-img {
    padding-bottom: 40px;
}

.intro-dj {
    font-family: 'Euclid Circular A';
    font-size: 16px;
    font-weight: 500px;
    /* padding-left: 150px; */
}

.iam {
    font-family: 'Euclid Circular A';
}

.music-title {
    font-family: 'Bw Vivant';
   font-style: normal;
   font-weight: 400;
   font-size: 56px;
   line-height: auto;
   padding-bottom: 24px;
   
   }
.music-content {
    font-family: 'Euclid Circular A';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;

   font-family: 'Euclid Circular A Light';
    line-height: 30px;
   
   }

/* Responsiveness @ 1000px */
@media only screen and (max-width: 1200px) {

    .about-container {
        padding: 80px 80px;  
    }

    .planet {
        padding-left: 52px;
        width: 74px;
        height: 49px;
        padding-bottom: 20px;
    }

    .iam {
        font-family: Euclid Circular A;
        padding-top: 40px;
    }

    .intro-dj {
        padding-left: 100px;
    }

    .about-me {
        padding-top: 80px;
    }

    .about-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 96px;
        /* text-align: center; */
        padding-bottom: 20px;
      }

}



/* Responsiveness Tab2 */
@media only screen and (max-width: 780px) {

    .about-container {
        padding: 60px 50px;  
    }

    .about-me {
        display: block;
        flex-direction: row;
        padding-bottom: 60px;
    }
    .iam {
        font-family: Euclid Circular A;
        padding-top: 20px;
    }

    .my-pic {
        /* height: auto;
        width: auto; */
        object-fit: cover;
        flex: 12;
        padding-bottom: 40px;
    }

    .about-title {
        padding-bottom: 20px;
      }

    .intro-dj {
        padding-top: 60px;
        padding-left: 0px;
    }

    .about-me {
        padding-top: 0px;
    }

    .music-title {
        font-family: 'Bw Vivant';
       font-style: normal;
       font-weight: 400;
       font-size: 32px;
       line-height: 40px;
        padding-bottom: 16px;

       
       }
    
    .my-story {
        flex: 12;
    }

    .about-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 69px;
        /* text-align: center; */
        padding-bottom: 20px;
      }
}


/* Responsiveness @ 450px */
@media only screen and (max-width: 450px) {
    .about-container{
        padding: 50px 20px;
    }

    .about-title {
        padding-bottom: 20px;
      }
}




/* Employment CSS */
.employment-container {
    padding-top: 60px;
    }
    
    
    .work-title {
     font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    
    }
    
    .experience {
        padding-bottom: 80px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    
        gap: 40px;
    }
    
    
    .job-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
    
    .time-spent {
        font-family: 'Euclid Circular A Light';
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        padding-top: 8px;
    }
    
    .my-resume {
      font-family: 'Bw Vivant';
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 67px;
    
      text-align: center;
      padding-top: 0px;
      padding-bottom: 80px;
    }
    
    .arrow {
        padding-left: 30px;
        position: absolute;
        
    }
    
    .side-arrow {
        padding-left: 30px;
        position: absolute;
        width: 20px;
        height: 20px;
    }
    
    .space {
        padding-bottom: 80px;
    }
    .get-in-touch {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 67px;
      
        text-align: center;
        padding-top: 40px;
    }
    .request {
        font-family: 'Euclid Circular A Light';
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 80px;
    }
    
    
    .write-up {
        display: flex;
        padding-top: 20px;
        gap: 30px;
    }
    
    .write-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        padding-bottom: 16px;
    }
    
    .write-content {
        font-family: 'Euclid Circular A Light';
        line-height: 30px;
    }
    .container {
        flex: 6;
    }
    
    .read-more {
        font-family: 'Euclid Circular A Light';
        padding-top: 24px;
        font-weight: 700;
    }
    
    
    .shy {
        font-family: 'Euclid Circular A';
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        padding-top: 80px;
    }
    
    /* Responsiveness Tab */
    
    @media only screen and (max-width: 1200px) {
        /* .employment-container {
            padding-top: 20px;
            } */
    
        .work-title {
            font-family: 'Bw Vivant';
           font-style: normal;
           font-weight: 400;
           font-size: 40px;
           line-height: 67px;
           
           }
           
           .experience {
               padding-bottom: 80px;
               padding-top: 80px;
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               justify-content: flex-start;
           
               gap: 40px;
           }
    }
    
    
    
    /* Responsiveness Phone */
    
    @media only screen and (max-width: 780px) {
        .employment-container {
            padding-top: 0px;
            }
            
        .work-title {
            font-family: 'Bw Vivant';
           font-style: normal;
           font-weight: 400;
           font-size: 32px;
           line-height: 40px;
           
           }
    
        .experience {
            padding-bottom: 60px;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
        }
        
        .job-title {
            font-family: 'Bw Vivant';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
        }
        
        .time-spent {
            font-family: 'Euclid Circular A Light';
            font-style: normal;
            font-size: 16px;
            line-height: 30px;
            padding-top: 8px;
        }
        
        .my-resume {
          font-family: 'Bw Vivant';
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 40px;
          text-align: center;
          padding-top: 40px;
          padding-bottom: 60px;
        }
    
        .space {
            padding-bottom: 60px;
        }
        
        .request {
            font-family: 'Euclid Circular A Light';
            padding-top: 16px;
            padding-bottom: 60px;
            font-weight: 700;
        }
        
        
        .write-up {
            padding-top: 20px;
            /* gap: 10px; */
            display: block;
            flex-direction: row;
        }
    
        /* .write-container1 {
            flex: 12;
        }
    
        .write-container2 {
            flex: 12;
        }
         */
        .write-title {
            font-family: 'Bw Vivant';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 35px;
            padding-bottom: 16px;
        }
    
        .shy {
            font-family: 'Euclid Circular A';
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            padding-top: 60px;
        }
    
        .read-more {
            font-family: 'Euclid Circular A Light';
            padding-top: 16px;
            padding-bottom: 20px;
        }
    }