
.about-container {
 padding: 80px 200px;    
}

.about-title {
  font-family: 'Bw Vivant';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;

  text-align: center;
  padding-bottom: 20px;
}

.planet {
    padding-left: 952px;
    width: 74px;
    height: 49px;
    padding-bottom: 20px;

}

.about-me {
    display: flex;
    gap: 40px;
}

.my-pic {
    flex: 6;
    object-fit: cover; 
}

.my-story {
    flex: 6;
    font-family: 'Euclid Circular A Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   line-height: 30px;
}

.iam {
    font-family: Euclid Circular A;
}

/* Responsiveness @ 1000px */
@media only screen and (max-width: 1200px) {

    .about-container {
        padding: 80px 80px;  
    }

    .planet {
        padding-left: 52px;
        width: 74px;
        height: 49px;
        padding-bottom: 20px;
    }

    .iam {
        font-family: Euclid Circular A;
        padding-top: 40px;
    }

    .about-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 96px;
        text-align: center;
        padding-bottom: 20px;
      }

}



/* Responsiveness Tab2 */
@media only screen and (max-width: 780px) {

    .about-container {
        padding: 60px 50px;  
    }

    .about-me {
        display: block;
        flex-direction: row;
        padding-bottom: 60px;
    }
    .iam {
        font-family: Euclid Circular A;
        padding-top: 20px;
    }

    .my-pic {
        /* height: auto;
        width: auto; */
        object-fit: cover;
        flex: 12;
        padding-bottom: 40px;
    }
    
    .my-story {
        flex: 12;
    }

    .about-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 96px;
        text-align: center;
        padding-bottom: 20px;
      }
}


/* Responsiveness @ 450px */
@media only screen and (max-width: 500px) {
    .about-container{
        padding: 60px 20px;
    }
}