.tribal-container {
    padding: 50px 200px;  
}

.tribal-header {
    font-family: 'Bw Vivant';
     font-style: normal;
     font-weight: 400;
     font-size: 56px;
     /* line-height: 96px; */
   
     /* text-align: center; */
     padding-bottom: 20px;
}

.tribal-header-brief {
    font-family: 'Euclid Circular A Light';
    font-size: 14px;
    padding-bottom: 80px;
}

.tribal-cover {
    object-fit: cover;
    padding-bottom: 80px;
}

.overview-role {
    display: flex;
    /* padding-bottom: 80px; */
    gap: 40px;
}

.overview-col {
    flex: 6;
}

.role2-col {
    flex: 6;
}

.tribal-high-fi {
    padding-bottom: 80px;
}

.tribal-prototype {
    padding-bottom: 80px;
}