.tribal-container {
    padding: 50px 200px;  
}

.tribal-header {
    font-family: 'Bw Vivant';
     font-style: normal;
     font-weight: 400;
     font-size: 56px;
     /* line-height: 96px; */
   
     /* text-align: center; */
     padding-bottom: 20px;
}

.tribal-header-brief {
    font-family: 'Euclid Circular A Light';
    font-size: 16px;
    padding-bottom: 80px;
}

.tribal-cover {
    object-fit: cover;
    padding-bottom: 80px;
}

.overview-role {
    display: flex;
    /* padding-bottom: 80px; */
    gap: 40px;
}

.overview-col {
    flex: 6;
}

.role2-col {
    flex: 6;
}

.tribal-high-fi {
    padding-bottom: 80px;
}

.tribal-prototype {
    padding-bottom: 80px;
}







/* Responsiveness @ 1200px */
@media only screen and (max-width: 1200px) {

    .tribal-container {
        padding: 80px 80px;  
    }

    .tribal-header {
        font-family: 'Bw Vivant';
         /* font-style: normal; */
         font-weight: 400;
         font-size: 40px;
         padding-bottom: 20px;
    }

}



/* Responsiveness Tab2 */
@media only screen and (max-width: 780px) {
    .tribal-container{
        padding: 60px 50px;
    }

    .tribal-header-brief {
        padding-bottom: 60px;
    }

    .tribal-header {
        font-family: 'Bw Vivant';
         /* font-style: normal; */
         font-weight: 400;
         font-size: 40px;
         padding-bottom: 20px;
    }

    .tribal-cover {
        object-fit: cover;
        padding-bottom: 60px;
    }

    .overview-role {
        display: block;
        flex-direction: row;
    }
    .the-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-bottom: 16px;
    }

    .the-content {
        font-family: 'Euclid Circular A Light';
        line-height: 30px;
        padding-bottom: 60px;
    }

    .sub-title {
        font-family: 'Bw Vivant';
        font-size: 18px;
        padding-bottom: 8px;
    }
    
    .sub-content {
        font-family: 'Euclid Circular A Light';
        font-size: 16px;
        line-height: 30px;
    }
    
    .sub-img {
        object-fit: cover;
        padding-bottom: 20px;
    }

    .the-title-top {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-top: 40px;
        padding-bottom: 16px;
    }
    
    .the-title-top2 {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-top: 20px;
        padding-bottom: 16px;
    }

    .the-content-low {
        font-family: 'Euclid Circular A Light';
        line-height: 30px;
        padding-bottom: 20px;
    }

    .state-content {
        font-family: 'Euclid Circular A Light';
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 60px;
    }
    
    .img-sketch {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .img-low-fi {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .extra {
        padding-bottom: 60px;
    }

    .sub-space {
        padding-bottom: 20px;
    }

    .tribal-high-fi {
        padding-bottom: 60px;
    }
    
    .tribal-prototype {
        padding-bottom: 60px;
    }
}


/* Responsiveness @ 450px */
@media only screen and (max-width: 500px) {
    .tribal-container{
        padding: 60px 20px;
    }
}