.featured-container {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 150px;
}

.featured-title {
    display: flex;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    justify-content: center;
    padding-bottom: 20px;
}

.planet {
    padding-left: 1002px;
    width: 74px;
    height: 49px;
    position: absolute;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 200px;
}

.project-title {
    width: 100%;
    font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
   line-height: 70px;
   /* color: #000; */

   cursor: pointer;
}

.project-content {
    padding-top: 20px;
  font-family: 'Euclid Circular A Light';
  font-size: 16px;
  line-height: 35px;

    width: 400px;
}


/* spec nota */
.spec-nota {
    width: 400px;
    max-height: 300px;
    position: absolute;
    right: 25%;
    top: 10px;
    visibility: hidden;
}

.project-title:hover .spec-nota {
    visibility: visible;
}

.spec {
    height: 300px;
    width: 500px;
    overflow:hidden;
    object-fit: cover;
}

/* ile wa */
.ile-wa {
    width: 400px;
    max-height: 300px;
    position: absolute;
    right: 25%;
    top:320px;
    visibility: hidden;
}

.project-title:hover .ile-wa {
    visibility: visible;
}

.ile {
    height: 300px;
    width: 500px;
    overflow:hidden;
    object-fit: cover;
}


/* Shang It */

.shang-it {
    position: absolute;
    right: 25%;
    top: 500px;
    visibility: hidden;
}

.project-title:hover .shang-it  {
    visibility: visible;
}

.shang {
    height: 600px;
    width: 400px;
    overflow:hidden;
    object-fit: cover;
}


/* Drone App */

.drone-app {
    position: absolute;
    right: 25%;
    top: 830px;
    visibility: hidden;
}

.project-title:hover .drone-app  {
    visibility: visible;
}

.drone {
    height: 600px;
    width: 400px;
    overflow:hidden;
    object-fit: cover;
}


/* Tribal Play */

.tribal-play {
    position: absolute;
    right: 0%;
    top: 1250px;
    visibility: hidden;
}

.project-title:hover .tribal-play  {
    visibility: visible;
}

.tribal {
    height: 400px;
    width: 600px;
    overflow:hidden;
    object-fit: cover;
}



/* Responsiveness @ 1200px */
@media only screen and (max-width: 1200px) {

    .featured-container {
        margin: 80px 80px;
    }

    .project-title:hover .spec-nota {
        visibility: hidden;
    } 

    .project-title:hover .ile-wa {
        visibility: hidden;
    }
    
    /* Shang It */
   .project-title:hover .shang-it {
        visibility: hidden;
    }

    /* Drone App */
    .project-title:hover .drone-app {
        visibility: hidden;
    }
    
    
    /* Tribal Play */
    .project-title:hover .tribal-play {
        visibility: hidden;
    }

    .projects {
        gap: 80px;
    }

    .project-title {
        width: 100%;
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
       line-height: 70px;
       /* color: #000; */
    
       cursor: pointer;
    }
    
    .project-content {
        padding-top: 24px;
        font-family: 'Euclid Circular A Light';
        font-size: 16px;
        line-height: 35px;
        width: auto;
    }
}


/* Responsiveness Tab2 */
@media only screen and (max-width: 780px) {
    .featured-container {
        margin: 0px 50px;
        padding-bottom: 80px;
    }

    .projects {
        gap: 80px;
    }

    .project-content {
        padding-top: 0px;
    }
}


/* Responsiveness @ 450px */
@media only screen and (max-width: 450px) {
    .featured-container {
        margin: 30px 20px;
    }

    .projects {
        gap: 80px;
    }
}