.shange-container {
    padding: 50px 200px;  
}

.shange-header {
    font-family: 'Bw Vivant';
     font-style: normal;
     font-weight: 400;
     font-size: 56px;
     /* line-height: 96px; */
   
     /* text-align: center; */
     padding-bottom: 20px;
}

.shange-header-brief {
    font-family: 'Euclid Circular A Light';
    font-size: 14px;
    padding-bottom: 80px;
}

.shange-cover {
    object-fit: cover;
    padding-bottom: 80px;
}

.the-content-low2 {
    font-family: 'Euclid Circular A Light';
    line-height: 30px;
    /* padding-bottom: 10px; */
}

.sub-space {
    padding-bottom: 40px;
}


.sub-title1 {
    font-family: 'Bw Vivant';
    font-size: 18px;
    padding-bottom: 8px;
}

.sub-content1 {
    font-family: 'Euclid Circular A Light';
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 30px;
}

.extra {
    padding-bottom: 80px;
}

.shange-it-logo {
    width: 96px;
    height: 55px;
}

.top-color {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
}

.color1 {
    flex: 2;
}

.color2 {
    flex: 2;
}

.color3 {
    flex: 2;
}

.color4 {
    flex: 2;
}

.color-title {
    font-family: 'Euclid Circular A Light';
    font-size: 14px;
    line-height: 30px;
    /* padding-bottom: 30px; */
}

.height-width {
    height: 120px;
    width: 90px;
    border-radius: 10px;
    /* padding-bottom: 40px; */
}

.clr1 {
    background-color: #021F6F;
}

.clr2 {
    background-color: #DB1F48;
}

.clr3 {
    background-color: #F6735A;
}

.clr4 {
    background-color: #FFB552;
}

.clr-space {
    padding-top: 10px;
}



/* Responsiveness @ 1200px */
@media only screen and (max-width: 1200px) {

    .shange-container {
        padding: 30px 50px;  
    }

    .shange-header {
        font-family: 'Bw Vivant';
         /* font-style: normal; */
         font-weight: 400;
         font-size: 40px;
         padding-bottom: 20px;
    }

}



/* Responsiveness @ 450px */
@media only screen and (max-width: 600px) {
    .shange-container{
        padding: 30px 20px;
    }

    .shange-header-brief {
        padding-bottom: 40px;
    }

    .shange-header {
        font-family: 'Bw Vivant';
         /* font-style: normal; */
         font-weight: 400;
         font-size: 40px;
         padding-bottom: 20px;
    }

    .shange-cover {
        object-fit: cover;
        padding-bottom: 40px;
    }

    .the-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-bottom: 16px;
    }

    .the-content {
        font-family: 'Euclid Circular A Light';
        line-height: 30px;
        padding-bottom: 40px;
    }

    .sub-title {
        font-family: 'Bw Vivant';
        font-size: 18px;
        padding-bottom: 8px;
    }
    
    .sub-content {
        font-family: 'Euclid Circular A Light';
        font-size: 14px;
        line-height: 30px;
    }
    
    .sub-img {
        object-fit: cover;
        padding-bottom: 20px;
    }

    .the-title-top {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-top: 40px;
        padding-bottom: 16px;
    }
    
    .the-title-top2 {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-top: 20px;
        padding-bottom: 16px;
    }

    .the-content-low {
        font-family: 'Euclid Circular A Light';
        line-height: 30px;
        padding-bottom: 20px;
    }

    .state-content {
        font-family: 'Euclid Circular A Light';
        font-size: 14px;
        line-height: 30px;
        padding-bottom: 40px;
    }
    
    .img-sketch {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .img-low-fi {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .extra {
        padding-bottom: 40px;
    }

    .sub-space {
        padding-bottom: 20px;
    }

    .design-title {
        font-family: 'Bw Vivant';
        font-size: 24px;
        padding-bottom: 16px;
    }

    .design-content {
        font-family: 'Euclid Circular A Light';
        font-size: 14px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    
    .design-sub-content {
        font-family: 'Bw Vivant';
        font-size: 24px;
        padding-bottom: 20px;
        line-height: 50px;
    }
}