.employment-container {
padding-top: 60px;
}


.work-title {
 font-family: 'Bw Vivant';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 67px;

}

.experience {
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 60px;
}


.job-title {
    font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.time-spent {
    font-family: 'Euclid Circular A Light';
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    padding-top: 8px;
}

.my-resume {
  font-family: 'Bw Vivant';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 67px;

  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.arrow {
    padding-left: 30px;
    position: absolute;
    
}

.side-arrow {
    padding-left: 30px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.space {
    padding-bottom: 80px;
}

.request {
    font-family: 'Euclid Circular A Light';
    padding-top: 60px;
    padding-bottom: 80px;
}


.write-up {
    display: flex;
    padding-top: 60px;
    gap: 30px;
}

.write-title {
    font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 24px;
}

.write-content {
    font-family: 'Euclid Circular A Light';
    line-height: 30px;
}
.container {
    flex: 6;
}

.read-more {
    font-family: 'Euclid Circular A Light';
    padding-top: 24px;
    font-weight: 700;
}


.shy {
    font-family: 'Euclid Circular A';
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding-top: 80px;
}

/* Responsiveness Tab */

@media only screen and (max-width: 1200px) {
    /* .employment-container {
        padding-top: 20px;
        } */

    .work-title {
        font-family: 'Bw Vivant';
       font-style: normal;
       font-weight: 400;
       font-size: 40px;
       line-height: 67px;
       
       }
       
       .experience {
           padding-bottom: 80px;
           padding-top: 80px;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           justify-content: flex-start;
       
           gap: 40px;
       }
}



/* Responsiveness Phone */

@media only screen and (max-width: 767px) {
    .employment-container {
        padding-top: 0px;
        }
        
    .work-title {
        font-family: 'Bw Vivant';
       font-style: normal;
       font-weight: 400;
       font-size: 32px;
       line-height: 40px;
       
       }

    .experience {
        padding-bottom: 60px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }
    
    .job-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
    }
    
    .time-spent {
        font-family: 'Euclid Circular A Light';
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        padding-top: 8px;
    }
    
    .my-resume {
      font-family: 'Bw Vivant';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 60px;
    }

    .space {
        padding-bottom: 60px;
    }
    
    .request {
        font-family: 'Euclid Circular A Light';
        padding-top: 16px;
        padding-bottom: 60px;
        font-weight: 700;
    }
    
    
    .write-up {
        padding-top: 60px;
        /* gap: 10px; */
        display: block;
        flex-direction: row;
    }

    /* .write-container1 {
        flex: 12;
    }

    .write-container2 {
        flex: 12;
    }
     */
    .write-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        padding-bottom: 16px;
    }

    .shy {
        font-family: 'Euclid Circular A';
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        padding-top: 60px;
    }

    .read-more {
        font-family: 'Euclid Circular A Light';
        padding-top: 16px;
        padding-bottom: 20px;
    }
}