.ile-container {
    padding: 50px 200px;  
}

.ile-header {
    font-family: 'Bw Vivant';
     font-style: normal;
     font-weight: 400;
     font-size: 56px;
     /* line-height: 96px; */
   
     /* text-align: center; */
     padding-bottom: 20px;
}

.ile-header-brief {
    font-family: 'Euclid Circular A Light';
    font-size: 16px;
    padding-bottom: 80px;
}

.ile-cover {
    object-fit: cover;
    padding-bottom: 80px;
}

.ile-logo {
    width: 250px;
    height: 50px;
}

.ile-clr1 {
    background-color: #003A46;
}

.ile-clr2 {
    background-color: #F99137;
}

.ile-clr3 {
    background-color: #7BEAAC;
}

.ile-clr4 {
    background-color: #7F2C00;
}

.ile-clr5 {
    background-color: #FFE9CF;
}

.ile-clr6 {
    background-color: #C1FAFF;
}

.img-ile {
    padding-top: 80px;
    padding-bottom: 80px;
}

.project-pagination {
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
  }


  .pagination-left {
    flex: 6;
  }

  .pagination-right {
    flex: 6;
    display: flex;
    justify-content: flex-end;
  }


/* Responsiveness @ 1200px */
@media only screen and (max-width: 1200px) {

    .ile-container {
        padding: 30px 80px;  
    }

    .ile-header {
        font-family: 'Bw Vivant';
         /* font-style: normal; */
         font-weight: 400;
         font-size: 40px;
         padding-bottom: 20px;
    }

}



/* Responsiveness Tab2 */
@media only screen and (max-width: 780px) {
    .ile-container{
        padding: 30px 50px;
    }

    .ile-header-brief {
        padding-bottom: 60px;
    }

    .ile-header {
        font-family: 'Bw Vivant';
         /* font-style: normal; */
         font-weight: 400;
         font-size: 40px;
         padding-bottom: 20px;
    }

    .ile-cover {
        object-fit: cover;
        padding-bottom: 60px;
    }

    .the-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-bottom: 16px;
    }

    .the-content {
        font-family: 'Euclid Circular A Light';
        line-height: 30px;
        padding-bottom: 60px;
    }

    .sub-title {
        font-family: 'Bw Vivant';
        font-size: 18px;
        padding-bottom: 8px;
    }
    
    .sub-content {
        font-family: 'Euclid Circular A Light';
        font-size: 16px;
        line-height: 30px;
    }
    
    .sub-img {
        object-fit: cover;
        padding-bottom: 20px;
    }

    .the-title-top {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-top: 60px;
        padding-bottom: 16px;
    }
    
    .the-title-top2 {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        /* line-height: 48px; */
        padding-top: 20px;
        padding-bottom: 16px;
    }

    .the-content-low {
        font-family: 'Euclid Circular A Light';
        line-height: 30px;
        padding-bottom: 20px;
    }

    .state-content {
        font-family: 'Euclid Circular A Light';
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 60px;
    }
    
    .img-sketch {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .img-low-fi {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .design-title {
        font-family: 'Bw Vivant';
        font-size: 24px;
        padding-bottom: 16px;
    }

    .design-content {
        font-family: 'Euclid Circular A Light';
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    
    .design-sub-content {
        font-family: 'Bw Vivant';
        font-size: 24px;
        padding-bottom: 20px;
        line-height: 50px;
    }
}


/* Responsiveness @ 450px */
@media only screen and (max-width: 500px) {
    .work-container{
        padding: 30px 20px;
    }
}