.work-container {
    padding: 50px 200px;    
   }
    
.work-header {
     font-family: 'Bw Vivant';
     font-style: normal;
     font-weight: 400;
     font-size: 80px;
     line-height: 96px;
   
     text-align: center;
     padding-bottom: 20px;
   }

.project-grid {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
}

.work-project-title {
    font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 48px; */
    padding-bottom: 16px;
    padding-top: 16px;
}

.work-project-content {
    font-family: 'Euclid Circular A Light';
    font-size: 16px;
    line-height: 30px;
}

.container1 {
    flex: 6;
}

.container2 {
    flex: 6;
    padding-top: 80px;
}

.spec-img {
    height: auto;
    width: auto;
     overflow:hidden;
    object-fit: cover; 
}

.ile-img {
    width: auto;
    object-fit: cover
}

.shange-img {
    object-fit: cover;
    width: 680px auto;
    height: 504px auto;
}

.work-drone-container {
    padding-top: 80px;
    padding-left: 502px;
}

.drone-img {
    object-fit: cover;
    /* width: 396px auto; */
    height: 547px auto;
}

.work-tribal-container {
    padding-top: 80px;
}

.tribal-img {
    object-fit: cover;
    align-items: center;
    width: 689px;
    height: 442.1px;
}

.other-project {
    font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}



/* Responsiveness @ 1200px */

@media only screen and (max-width: 1200px) {

    .work-container {
        padding: 30px 80px;  
    }
        
    .work-header {
         font-family: 'Bw Vivant';
         font-style: normal;
         font-weight: 400;
         font-size: 56px;
         line-height: 96px;      
         text-align: center;
         padding-bottom: 20px;
       }

    .work-drone-container {
        padding-top: 80px;
        padding-left: 302px;
    }

    .tribal-img {
        object-fit: cover;
        align-items: center;
        width: auto;
        height: auto;
    }
}


/* Responsiveness Tab2 */
@media only screen and (max-width: 780px) {
    .work-container{
        padding: 30px 50px;
    }

    .work-header {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 96px;
        text-align: center;
        padding-bottom: 20px;
      }

    .work-drone-container {
        padding-left: 0px;
    }

    .work-shange-container {
        padding-left: 0px;
        padding-top: 20px;
    }

    .work-tribal-container {
        width: auto;
    }

    .other-project {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        padding-top: 60px;
        padding-bottom: 20px;  
        text-align: center;
    }

    .project-title {
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        padding-bottom: 1px;
        padding-top: 16px;
    }

    .project-grid {
        display: flex;
        padding-top: 30px;
    }

    .project-grid {
        display: block;
        flex-direction: row;
    }
    
    .container1 {
        height: auto;
        width: auto;
        flex: 12;
    }
    
    .container2 {
        flex: 12;
    }
}

/* Responsiveness @ 450px */
@media only screen and (max-width: 500px) {
    .work-container{
        padding: 30px 20px;
    }
}