.work-container {
    padding: 50px 200px;    
   }
    
.work-title {
     font-family: 'Bw Vivant';
     font-style: normal;
     font-weight: 400;
     font-size: 80px;
     line-height: 96px;
   
     text-align: center;
     padding-bottom: 20px;
   }

.project-grid {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
}

.project-title {
    font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    /* line-height: 48px; */
    padding-bottom: 1px;
    padding-top: 16px;
}

.project-content {
    font-family: 'Euclid Circular A Light';
    line-height: 30px;
}

.container1 {
    flex: 6;
}

.container2 {
    flex: 6;
    padding-top: 160px;
}

.spec-img {
    /* flex: 6; */
    /* height: 400px; */
    /* width: 150px; */
     overflow:hidden;
    object-fit: cover; 
}

.ile-img {
    object-fit: cover
}

.shange-img {
    object-fit: cover;
    width: 680px;
    height: 504px;
}

.drone-container {
    padding-top: 80px;
    padding-left: 502px;
}

.drone-img {
    object-fit: cover;
    width: 396px;
    height: 547px;
}

.tribal-container {
    padding-top: 80px;
}

.tribal-img {
    object-fit: cover;
    align-items: center;
    width: 689px;
    height: 442.1px;
}

.other-project {
    font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 40px;

    text-align: center;
}