
.contribute {
   font-family: 'Euclid Circular A';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;

   text-align: center;

   padding-top: 80px;
}

.email {
    padding-top: 20PX;
    font-family: 'Bw Vivant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.line {
    background: #F2F2F2;
    height: 2px;
    width: 80%;
    margin: auto;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}



.bottom-footer {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
  }


  .copyright {
    flex: 6;
    font-family: 'Euclid Circular A Light';
    font-size: 16px;
    line-height: 23px;

    padding-top: 15px;
  }

  .social-icons {
    flex: 6;
    display: flex;
    justify-content: flex-end;
    font-family: 'Euclid Circular A Light';
    font-size: 16px;
  }

  .socials {
    list-style: none;
    position: relative;
    cursor: pointer;
    margin-left: 27px;
    font-size: 16px;
    line-height: 23px;
  }  


  @media only screen and (max-width: 1200px) {
    .bottom-footer {
      margin-left: 80px;
      margin-right: 80px;
      margin-top: 40px;
      padding-bottom: 20px;
      display: flex;
    }
  }

  @media only screen and (max-width: 780px) {
    .line {
      background: #F2F2F2;
      height: 2px;
      width: 80%;
      margin: auto;
      align-items: center;
      align-items: center;
      justify-content: center;
  
      margin-top: 40px;
      }

      .bottom-footer {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        padding-bottom: 20px;
        display: block;
        flex-direction: row;
        text-align: center;
      }
    
      .email {
        padding-top: 20PX;
        font-family: 'Bw Vivant';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 48px;
    
        text-align: center;
    }
      .copyright {
        font-family: 'Euclid Circular A Light';
        font-size: 16px;
        line-height: 23px; 
        padding-top: 15px;


        justify-content: center;
        text-align: center;

        margin: 0;
        padding-bottom: 20px;
      }
    
      .social-icons {
        display: block;
        /* justify-content: center; */
        /* text-align: center; */
        font-family: 'Euclid Circular A Light';
        font-size: 16px;

        margin: 0;
        padding: 0;
      }
    
      .socials {
        list-style: none;
        position: relative;
        cursor: pointer;    
        font-size: 16px;
        line-height: 40px;

        justify-content: center;
        text-align: center;
      }
  }

  @media only screen and (max-width: 450px) {
  }