body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Euclid Circular A Light';
  font-style: normal;
  font-weight: lighter;
  src: local('Euclid Circular A'), url(./assets/fonts/Euclid\ Circular\ A/EuclidCircularA-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: medium;
  src: local('Euclid Circular A'), url(./assets/fonts/Euclid\ Circular\ A/EuclidCircularA-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Bw Vivant';
  src: local('Bw Vivant'), url(./assets/fonts/Bw\ Vivant/bw-vivant-light.ttf) format('truetype');
} 